footer {
    display: flex;
    background-color: #343a40;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  
footer p {
    color: white;
    margin-bottom: -10px;
    text-align: center;
  }

.navbar img {
    width: 60px;
}

.navbar a{
    color: white;
}